$color1: #2bc7de;
$color2: #005262;
$color3: #b1937f;
$color4: #dcd1ca;
$color5: #9f9b96;
$heading: 'Oswald',
Sans-Serif;
$paragraph: 'Quattrocento',
Serif;

// 1: Page Style
// 2: Defaults
// 3: Nav Bar
// 4: Main
// 5: Footer


// 1 Page Style and Zeroing values

#page {
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header"
    "main"
    "foot";
  padding: 0;
  margin: 0;
}

// 2 Defaults

a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(63, 63, 63);
  font-family: $paragraph;
}

a:hover {
  color: black;
}

body {
  padding: 0;
  margin: 0;
  font-family: $paragraph;
}


h1 {
  font-family: 'Oswald', Sans-Serif;
  color: black;
  font-weight: bold;
}

p {
  font-family: $paragraph;
  color: black;
}


img {
  width: 100%;
}

.normalbutton {
  padding: 1em 2em;
  border-radius: 1em;
  color: white;
  background-color: black;
  font-family: $heading;
  transition: border 1s;
  border: black 2px solid;
}

.normalbutton:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

// .primary {}

// .primary:hover {}

// 3 Navbar

.header {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  place-items: center;
  background-color: rgba(255, 255, 255, 0);
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;

  .icon {
    font-size: 2em;
    margin-left: 1em;
    margin-right: auto;
  }
  .menu {
    display: flex;
    flex-direction: row;
    .menulinknormal {
      transition: color 1s, border-bottom 1s, border-left 1s;
      color: rgb(63, 63, 63);
      font-weight: bold;
      font-family: $heading;
      margin: 2em 1em;
      border-bottom: white 2px solid;
      border-left: rgba(0, 255, 0, 0) 2px solid;
    }
    .menulinkbottom {
      transition: color 1s;
      color: lime;
      font-weight: bold;
      font-family: $heading;
      margin: 2em 1em;
      border-bottom: white 2px solid;
      border-left: rgba(0, 255, 0, 0) 2px solid;
    }
  
    a:hover {
      border-bottom: lime 2px solid;
      border-left: rgba(0, 255, 0, 0.5) 2px solid;
    }
  }
  .loginbuttons {
    margin-left: auto;
    #buttontwo {
      margin-right: 1em;
    }
  }
}



// 4 Main 

.bannerone {
  display: grid;
  height: 100vh;
  background-image: url(../images/pexels-ray-piedra-1456705.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  grid-template: 1fr 4fr / 1fr 1fr;
  margin: 0;
  padding: 0;

  .content {
    grid-row: 2;
    grid-column: 2;
    padding: 2em;
    margin-top: auto;
    text-align: right;
    padding-bottom: 2em;

    h1 {
      font-size: 9em;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p {
      font-family: $heading;
      margin-top: 0;
      padding-top: 0;
      font-size: 2.5em;
    }
  }
}

.bannertwo {
  height: 100vh;
  background-image: url(../images/pexels-ray-piedra-1456706.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  margin: 0;
  padding: 0;

  .content {
    grid-row: 1;
    grid-column: 2;
    padding: 2em;
    margin-top: auto;
    text-align: center;
    padding-bottom: 2em;

    h1 {
      text-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
      font-size: 8em;
      padding-bottom: 0;
      margin-bottom: 0;
      margin-top: 0;
    }

    p {
      font-family: $heading;
      text-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
      margin-top: 0;
      padding-top: 0;
      font-size: 2.5em;
    }
  }
}

.bannerthree {
  height: 100vh;
  background-color: red;
  background-image: url(../images/pexels-ray-piedra-1537671.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template: 1fr 5fr 1fr / 1fr 1fr;
  margin: 0;
  padding: 0;

  .content {
    grid-row: 2;
    grid-column: 1;
    margin-top: auto;
    text-align: left;
    padding-bottom: 2em;
    padding: 2em;

    h1 {
      margin-top: 0;

      font-size: 8em;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p {
      font-family: $heading;
      margin-top: 0;
      padding-top: 0;
      font-size: 2.5em;
    }
  }
}

.footer {
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;

  .content {
    display: grid;
    place-items: center;
    width: 25%;
    text-align: center;

    h1, h2, p {
      color: white;
    }

    .links {
      display: flex;
      flex-direction: row;
      margin-top: 1em;

      .sociallink {
        padding: 0.6em;
        font-size: 2em;
      }
    }
  }
}
.buttonbottom {
  padding: 1em 2em;
  border-radius: 1em;
  color: white;
  background-color: black;
  font-family: $heading;
  transition: border 1s;
  border: lime 2px solid;
}

.socialnormal {
  transition: color 0.8s;
  color: #555555;
}
.githubbottom {
  transition: 2s;
  color: white;
}
.facebookbottom {
  transition: 2s;
  color: lightseagreen;
}
.instagrambottom {
  transition: 2s;
  color: blueviolet;
}
.youtubebottom {
  transition: 2s;
  color: red;
}


// @media (max-width: 768px) {}

// @media (max-width: 935px) {}

// @media (max-width: 1200px) {}

// @media (min-width: 1201px) {}
